@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.textHome {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.blob {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
