.cardElement {
	transform: translateY(200px);
	opacity: 0;
	padding: 1rem;
}

.reportIcon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: yellow;
	border-radius: 20%;
	cursor: pointer;
}

.addFavorite {
	background-color: red;
	border-color: red;
	color: white;
}

.addFavorite:hover {
	background-color: rgb(209, 1, 1);
	border-color: rgb(209, 1, 1);
	color: white;
}

.removeFavorite {
	background-color: darkred;
	border-color: darkred;
	color: white;
}
.removeFavorite:hover {
	background-color: rgb(53, 6, 6);
	border-color: rgb(53, 6, 6);
	color: white;
}
