.RegisterForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem;
	background-color: #046c95;
	border-radius: 1.5rem;
	box-shadow: 0 1rem 1rem 0.25rem rgba(0, 0, 0, 0.2);
}
.white-text {
	color: white;
	font-family: "Raleway", sans-serif;
}

.input-dark {
	background-color: #083346;
	color: white;
	border: 1px solid #046c95;
	font-family: "Raleway", sans-serif;
}
.input-dark:focus {
	background-color: #083346;
	color: white;
	border: 1px solid #046c95;
	font-family: "Raleway", sans-serif;
	transition: all 1s ease-in;
}
